
.formContainer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.formContainer h2 {
    font-family: var(--font-playfair-display);
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.formContainer input,
.formContainer textarea {
    background: #FFFFFF;
    border: 1px solid #1565C0;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-montserrat);
    color: #3E2723;
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
    color: #78909C;
}

.submitButton {
    background-color: #1565C0;
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitButton:hover {
    background-color: #1E88E5;
    transform: scale(1.05);
}

.label {
  display: none; 
}
