.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-lg);
  background-color: var(--background-light);
  border-bottom: 1px solid #ddd;
}

.logo a {
  display: flex;
  align-items: center;
}

.businessName {
    color: var(--primary-dark-blue);
}

.phoneNumber {
  color: var(--primary-dark-blue);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.phoneNumber:hover {
  color: var(--accent-orange);
}
